body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color:#80CFA9;
  font-family: 'Overpass', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none
}

a:link {
  color: #b7d8ec;
}

a:active {
  color: #43811c;
}

a:visited {
  color: #39ff14;
}

.home-bg {
  display: block;
  margin: auto;
}

/* All Character Cards */
.char-card {
  background-color: black;
  border: solid 1px green;
  margin: 5px;
}

.char-card-name{
  color: #F9DC5C;
}

.character-card-label {
  color: #FFDBB5;
  text-decoration: underline;
}

/* Main cast component */
.main-cast-title {
  text-align: center;
}

.main-cast {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* SearchCardResult Component */
.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* SearchForm Component */
.search-bar {
  display: flex;
  justify-content: center;
}

.search-response {
  text-align: center;
}

/* EpisodeListing */
.table-container {
  margin-bottom: 30px;
}

.episode-table {
  margin: auto;
  text-align: center;
  width: 75vw;
}

/* Character Bio */
.char-bio-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-accordion{
  background-color: #252426;
  margin: 30px;
  text-align: center;
}

/* Episode Component */
.cast-image{
  height: 100px;
  width: 100px;
  margin: 5px;
}

 /* Episode Card */
.episode-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cast-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
